.bg-cont {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

.bg-text-cont {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .bg-text-cont {
    display: flex;
    flex-direction: column;
  }
}

.text-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .text-cont {
    order: 1;
  }
}

.letters-calculator {
  height: 350px;
  width: 350px;
  padding-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .letters-calculator {
    order: -1;
    width: 250px;
    height: 250px;
  }
}

.head {
  font-family: 'Roboto';
  color: #ffffff;
  width: 250px;
  text-align: start;
}

.calculator {
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 25px;
  font-weight: 600;
  color: #219a6f;
  font-family: 'Roboto';
  text-align: center;
  min-width: 100px;
  max-width: 240px;
  padding: 20px;
}

.label-text {
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #ffffff;
}

.user-input {
  padding: 10px;
  border-radius: 4px;
  min-width: 50px;
  max-width: 300px;
  border: 1px solid #ffffff;
  background-color: transparent;
  margin-top: 5px;
  color: #ffffff;
}
